* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html {
scroll-behavior: smooth;
}

body {
  background: linear-gradient( rgb(146, 20, 56), rgb(182, 113, 239));
  background-attachment: fixed;
}

.nothing {
position: absolute;
top: 0px;
}

.header {
  padding: 10px 16px;
  background: rgb(161, 41, 75);
  color: #f1f1f1;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 102px;
}

nav {
  display: flex;
  top: 50%;
  padding: 2% 4%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.intro {
  position: relative;
  display: flex;
  margin-top: 30vh;
  margin-bottom: 30vh;
  width: 100%;
  gap: 10vw;
  align-items: center;
  justify-content: center;
}

.intro .text-box {
  color: #fff;
  text-align: right;
  width: 30vw;
}

.intro .text-box h1 {
  text-align: right;
  padding-bottom: 1%;
  font-size: medium;
}

.iframe-container {
  overflow: hidden;
}

.film {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-bottom: 30vh;
}

/* slide show code */

.slideshow-container {
  position: relative;
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.slideshow-controller {
  position: relative;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 50px;
}
.mySlides {
  display: none;
}
.mySlides img {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
}
.sliderhead {
  color: #f2f2f2;
  font-size: 11 px;
  position: relative;
  margin-top: 5%;
  bottom: 25%;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 4px;
  background: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.active,
.dot:hover {
  background-color: #c7c7c7;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {
  opacity: 0.4;
}
to {
  opacity: 1;
}
}
@keyframes fade {
from {
  opacity: 0.4;
}
to {
  opacity: 1;
}
}

