@font-face {
  font-family: "text";
  src: url("./assets/text.ttf") format("truetype");
}

body {
  background-image: url(assets/white_wall.png);
  background-repeat: repeat;
  font-family: "text", sans-serif;
  overflow-y: hidden;
}

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.statement {
  position: absolute;
  left: 10%;
  width: 40%;
  padding: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.frames {
  position: relative;
  display: flex;
  width: 60%;
  gap: 5rem;
  left: 50%;
}

.frames img {
  max-width: 80%;
  height: auto;
  padding: 10px;
  background: #fff;
  border: 20px solid #171717;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin-left: 10vw;
  margin-right: 10vw;
}

#spotlight {
  display: none;
  position: fixed;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
}